.chart-container {
  background-color: #0e0c0c; /* bg-white */
  color: #1f2937; /* Cor do texto base (text-gray-800) */
  width: 100%; /* w-full */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1); /* shadow-md */
  border-radius: 0.5rem; /* rounded-lg */
  padding: 1rem; /* p-4 */
}

.chart-header {
  border-bottom: 1px solid #e5e7eb; /* border-b border-gray-200 */
  padding-bottom: 0.5rem; /* pb-2 */
  margin-bottom: 0.5rem; /* mb-2 */
}

.chart-header h2 {
  font-size: 1.25rem; /* text-xl */
  font-weight: 600; /* font-semibold */
  color: #c2410c; /* text-gray-800 */
}

.chart-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem; /* mt-2 */
  
  flex-direction: column;
  gap: 0.75rem;
  align-items: stretch; /* Faz os filhos ocuparem 100% da largura */
}

@media (min-width: 768px) {
  .chart-controls {
    flex-direction: row;
    align-items: center;
  }
}


.chart-controls-left {
  display: flex;
  flex-direction: column; /* Empilhado no mobile */
  gap: 0.5rem;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .chart-controls-left {
    flex-direction: row; /* Lado a lado no desktop */
    align-items: center;
    gap: 1rem;
  }
}

.chart-sort-buttons {
  display: flex;
  gap: 0.5rem; /* gap-2 */
}

.chart-view-percent {
  font-size: 0.875rem; /* text-sm */
  color: #4b5563; /* text-gray-600 */
}

.chart-controls-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinhado à esquerda no mobile */
}
@media (min-width: 768px) {
  .chart-controls-right {
    align-items: flex-end; /* Alinhado à direita no desktop */
  }
}

.chart-zoom-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* gap-2 */
}


.chart-button {
  padding: 0.25rem 0.5rem; /* px-2 py-1 */
  border-radius: 0.25rem; /* rounded */
  font-size: 0.875rem; /* text-sm */
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.chart-button.default-state {
  background-color: #e5e7eb; /* bg-gray-200 */
  color: #374151; /* text-gray-700 */
}

.chart-button.active-state {
  background-color: #2563eb; /* bg-blue-600 */
  color: #fff; /* text-white */
  font-weight: 700; /* font-bold */
}

.chart-zoom-button {
  padding: 0.25rem; /* px-1 py-1 */
  width: 1.5rem;  /* Adicionado para tamanho consistente */
  height: 1.5rem; /* Adicionado para tamanho consistente */
  border-radius: 0.25rem; /* rounded */
  font-size: 0.875rem; /* text-sm */
  background-color: #e5e7eb; /* bg-gray-200 */
  color: #374151; /* text-gray-700 */
  border: 1px solid #e5e7eb; /* Borda padrão */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-zoom-button.decrease-button {
  border: 1px solid #fecaca; /* border border-red-200 */
}

.chart-zoom-button:disabled {
  opacity: 0.5; /* disabled:opacity-50 */
  cursor: not-allowed;
}