.list-container {
  background-color: #27272a;
  padding: 0.8rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  transition: transform 0.2s;

}

.list-container:hover {
  transform: scale(1.05);
}

.list-container h2 {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 0.2rem;
}

.header-suspects{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.list-container ul {
  max-height: 250px;
  overflow-y: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.875rem;
}